ion-content{
    --background: linear-gradient(0deg, #CE9FFC,#7367F0) !important;
}

.checkTask{
    --background: transparent;
}

ion-toolbar{
    --background: white;
}

ion-tab-bar{
    --background:white;
}


ion-input{
    //$text-input-highlight-color-valid:white;
    --background:transparent;
    --color:white;
}
