<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button slot="start" color=primary></ion-menu-button>
    </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color=primary>
            <ion-label>Theme</ion-label>
        </ion-button>
          <ion-button (click)="addTask()">
              <ion-icon name="add" slot="icon-only" color=primary></ion-icon>
          </ion-button>

      </ion-buttons>

    <ion-title>
      Body List
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-label>{{storageValue}}</ion-label> -->
    <ion-item *ngFor="let task of bodyArray; let i=index; trackBy:trackByFn" class = checkTask>
        <ion-input [(ngModel)]="bodyArray[i]" value={{task}}>{{handleStorage()}}
        </ion-input>
        <ion-checkbox color=secondary slot="start" *ngIf="bodyArray[i] != ''; else EmptyTask"></ion-checkbox>
        <ng-template #EmptyTask>
            <ion-checkbox slot="start" disabled="true"></ion-checkbox>
        </ng-template>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="body">
                    <ion-icon name="body" color=primary></ion-icon>
                    <ion-label color=primary>Body</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="mind" (click)="goToMindList()">
                    <ion-icon name="heart"></ion-icon>
                    <ion-label>Mind</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="diary" (click)="goToDiary()">
                    <ion-icon name="book"></ion-icon>
                    <ion-label>Diary</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
