ion-content{
    --background: linear-gradient(180deg, #56ab2f,#a8e063) !important;
}

.checkTask{
    --background: transparent;
}


ion-toolbar{
    --background: white;
}

ion-tab-bar{
    --background:white;
}

ion-input{
    //$text-input-highlight-color-valid:white;
    --background:transparent;
    --color:white;
}

//ion-title{
//    font-family:
//}
